{% extends 'ToDo_List/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm p-3">
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>

        <p>
               Status:
               <form method="post" action="{% url 'task-done' task.id %}">
                  {% csrf_token %}
                 <input type="checkbox" name="status" onchange="this.form.submit()" 
                    {% if task.done %}checked{% endif %}>
                  {% if task.done %}
                     Completed
                  {% else %}
                    Pending
                  {% endif %}
                </form>
              
        </p>
        <p>Priority: {{ task.priority }}</p>
        <p>Category: {{ task.category }}</p>
        <p>Created: {{ task.date_created|date:"M d, Y H:i" }}</p>
        {% if task.due_date %}<p>Due: {{ task.due_date|date:"M d, Y" }}</p>{% endif %}
        
        <div class="d-flex gap-2 mt-2">
            <a href="{% url 'edit-task' task.id %}" class="btn btn-dark btn-sm">Edit</a>
            <a href="{% url 'delete-task' task.id %}" class="btn btn-dark btn-sm">Delete</a>
            <a href="{% url 'task-list' %}" class="btn btn-secondary btn-sm">Back To List</a>
        </div>
    </div>
</div>
{% endblock %}